@page "/products"
@inject IProductRepository repository
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>Products List</h3>

<SearchPanel ValueChanged="@HandleSearch" />

@if (products is null)
{
    <LoaderComponent Title="Loading products" />
}
else
{
    <TableTemplate Items="@products">
        <HeaderTemplate>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </HeaderTemplate>
        <RowTemplate>
            <td>@context.Id</td>
            <td>@context.Name</td>
            <td>@context.Description</td>
            <td>@context.Price</td>
        </RowTemplate>
    </TableTemplate>
}


@code {

    private IEnumerable<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await repository.GetAllAsync();
    }

    private async Task HandleSearch(string searchText)
    {
        products = await repository.GetByTextAsync(searchText);
    }
}