@page "/dashboard"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@implements IAsyncDisposable

@* @attribute [Authorize] *@



<h3>Dashboard</h3>

@if (info is null)
{
    <LoaderComponent Title="Awaiting for data...">
        <img src="https://placehold.co/300x300" />
    </LoaderComponent>
}
else
{
    <article>
        @info.CustomerCount
    </article>

    <article>
        @info.ProductCount
    </article>

    <AuthorizeView Policy="AdultPolicy">
        <article>
            @info.AvgPrice
        </article>

        <article>
            @info.Status
        </article>
    </AuthorizeView>

   
}


@code {
    private Info? info;

    private HubConnection connection;

    override protected async Task OnInitializedAsync()
    {
        connection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/signalr/dashboard"))
            .ConfigureLogging(logging =>
            {
                logging.AddConsole();
                logging.SetMinimumLevel(LogLevel.Debug);
            })
            .WithAutomaticReconnect()
            .Build();

        connection.On<Info>("UpdateInfo", info =>
        {
            this.info = info;

            InvokeAsync(StateHasChanged);
        });

        await connection.StartAsync();

    }

    public async ValueTask DisposeAsync()
    {
        await connection.StopAsync();
    }

}
