@using BlazorServerApp.Domain
@using BlazorServerApp.Domain.Abstractions

<TableTemplate Items="@Products">
    <HeaderTemplate>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </HeaderTemplate>
    <RowTemplate>
        <td>@context.Id</td>
        <td>@context.Name</td>
        <td>@context.Description</td>
        <td>@context.Price</td>
    </RowTemplate>
</TableTemplate>


@code {

    [Parameter, EditorRequired]
    public IEnumerable<Product>? Products { get; set; }

}